<div class="container1 container-fluid">
		
			<div class="row top" ng-hide='hide' ng-show='!hide'>
				<div class="col-md-6 col-md-offset-3 title">
					<h1>Find Top Songs Playlists</h1>

					<input type="name" placeholder='Username' class='input form-control' ng-model='username' >
					<button class='btn btn-default' ng-click='topSong(username); topWeek(username)'>Submit</button>
			
				</div>
			</div>
			

			
			
<!-- 	<div class="col-sm-6">
		<p ng-repeat='song in topSongs'>
			{{song.name}} - {{song.artist.name}}:{{song.playcount}}
		</p>
	</div>
	<div class="col-sm-6">
		<p ng-repeat='week in topWeeks'>
			{{week.name}} - {{week.artist['#text']}}:{{week.playcount}}
		</p>
	</div> -->

	</div>